In [1]:
#1Q
#values are 'hello' , 6
#expressions are  * , - , / , + , -87.8
#2Q

In [2]:

#2Q
#the difference between string and variable is 
#string contains text which start and end with single or double code character
#and values can be stored in variables

In [3]:
#3Q 
# the three different datatypes are integer,float,string
int()
float()
str()

''

In [4]:
#4Q
#expression is made up of values + operators and expression evaluates to one value

In [5]:
#5Q
#expression evaluates to sinlgle value and statement dosen't evaluate to single value

In [6]:
#6Q
23

23

In [7]:
#7Q
#string concatination
'spam' + 'spamspam'

'spamspamspam'

In [8]:
#7Q
#string replication
'spam' * 3

'spamspamspam'

In [9]:
#9Q
int()
float()
str()

''

In [10]:
#10Q
# 'i have eaten' and 'burritos' is str() type while 99 is int() type
# so we can fix this by assigning 99 as str() type or 'i have eaten' and 'burritos' to int() type
'i have eaten' + ' 99' + ' burritos'

'i have eaten 99 burritos'